* {
    font-family: 'Manrope', sans-serif !important;
}

body {
    background-color: #0F0D1F !important;
}
.container{
    padding: 1.5rem !important;
}
.hero-text {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.hero-container{
    min-height:100vh;
    align-items:flex-start;
}
.btn-my-work {
    display: inline-block;
    padding: 16px 24px;
    gap: 18.54px;
    color: white;
    background: #4E37FC;
    border-radius: 92px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
    border: none;

}

.color-purple {
    color: #9183FF;
}
.image-width-inherit{
    width: 100%;
}
.intro-desc {
    margin-top: 5rem;
    color: white;
    font-size: 36px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}
.desc{
    font-size: 1rem;

}
.my-work-container{
    margin-top: 6rem;
}
.brief{
    font-size: 1rem;
    letter-spacing: 2%;
}
@media only screen and (max-width: 600px) {

    .hero-text {
        font-size: 2rem;
        font-weight: 600;
    }

    .img-in-text img{
        height: 2rem;
    } 

    .intro-desc {
        margin-top: 2rem;
        color: white;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }
    .my-work-container{
        margin-top: 3rem;
    }


}